.Sellpoint, .Networks, .Phone, .Separator
  display: inline-block
.Networks
  padding-left: 20px
.Separator
  padding: 0 10px
.fa
  font-size: 15px
  padding-left: 10px
.Discount
  margin 0
  font-size: 17px
  font-weight: bold
  color: orange
@media screen and (max-width:770px)
  .Infoheader
    text-align: center  
