.Sellpoint, .Networks, .Phone, .Separator
  display: inline-block
.Networks
  padding-left: 20px
.Separator
  padding: 0 10px
.fa
  font-size: 15px
  padding-left: 10px
.Topheader
  border-bottom: 2px solid pink
  margin-bottom: 10px
.Discount
  margin 0
  font-size: 17px
  font-weight: bold
  color: #3c763d
.fa-heart
  font-size: 50px
  color tomato
.Section-title
  font-size: 30px
  padding-bottom: 20px
@media screen and (max-width:770px)
  .Infoheader
    text-align: center

.Imagen-family
  height 85px
  width 99px 

.Imagen-main
  background-image:url(../assets/images/5.jpg)
  height 28em
  background-size cover

.Texto
  color black
